.navbar .navbar-nav .nav-item {
    color: #fff;
    text-decoration: none;
}
#logo {
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.img1 {
    text-align: center;
    justify-content: center;
    height: 50%;
    width: 50%;
    margin-top: 2vh;
}
.text1 {
    margin-top: 2rem;
}

.pagination {
    margin-left: 45%;
}

.newscard {
    display: flex;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
}
#img1 {
    object-fit: cover;
    width: 320px;
    height: 268px;
}
.title {
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img1 {
    height: 40vh;
    width: 20vw;
    margin-bottom: 7%;
    margin-top: 3%;
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
    .img1 {
        height: 13rem;
        width: 15rem;
        margin-bottom: 7%;
        margin-top: 3%;
    }
}
@media screen and (max-width: 992px) {
    .card-title {
        margin-left: 3%;
        
    }
    .card-text {
        margin-left: 3%;
    }
    .btn1{
        margin-left: 5%;
    }
}
@media screen and (max-width: 768px) {
    #img11 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;

    }
    .btn1{
        margin-left: 3%;
    }
}




.btn1{
   height: 45px;
    width: 150px;
    color: white;
    justify-content: center;
     color: white;
    background-color: #5034FC;
    font-size: 15px;
    outline: none;
    border: none;
     border-radius: 50px;
     box-shadow: -12px 20px 50px  rgba(80, 52, 252, 0.3);
}